<div class="header--wrapper">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-11">

            <div class="header header__inner">
                <div class="logo">
                    <a href="/">
                        <img src="~/images/logo/logo.png" alt="logo website" />
                    </a>
                </div>
                <div class="menu-wrapper menu-wrapper__xl">
                    <ul>
                        <li class="list-menu">
                            <a href="/">หน้าหลัก</a>
                        </li>
                        <li class="list-menu">
                            <a id="about" href="/About">เกี่ยวกับเรา</a>
                        </li>
                        <li class="list-menu">
                            <a id="product" class="menu-name" href="javascript:void(0)">สินค้า</a>
                            <div class="submenu--wrapper" id="product_sub">
                                <ul>
                                    <li>
                                        <a href="#">GPS</a>
                                    </li>
                                    <li>
                                        <a href="#">กล้องออนไลน์</a>
                                    </li>
                                </ul>
                                <div class="icon-close">
                                    <i class="bi bi-x"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-menu">
                            <a id="contact" class="menu-name" href="javascript:void(0)">ติดต่อเรา</a>
                            <div class="submenu--wrapper" id="contact_sub">
                                <ul>
                                    <li>
                                        <a href="#">ติดต่อเรา</a>
                                    </li>
                                    <li>
                                        <a href="#">แบบฟอร์มออนไลน์</a>
                                    </li>
                                </ul>
                                <div class="icon-close">
                                    <i class="bi bi-x"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-menu tracking_menu">
                            <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                        </li>
                    </ul>
                </div>

                <div class="menu-wrapper menu-wrapper__md">
                    <div class="hamburger-menu">
                        <div class="bar"></div>	
                    </div>
                    <div class="menu--nav hide">
                        <ul>
                        <li class="list-menu">
                            <a href="/">หน้าหลัก</a>
                        </li>
                        <li class="list-menu">
                            <a id="about" href="/About">เกี่ยวกับเรา</a>
                        </li>
                        <li class="list-menu">
                            <a href="javascript:void(0)">สินค้า</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="#">GPS</a>
                                    </li>
                                    <li>
                                        <a href="#">กล้องออนไลน์</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-menu">
                            <a href="javascript:void(0)">ติดต่อเรา</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="#">ติดต่อเรา</a>
                                    </li>
                                    <li>
                                        <a href="#">แบบฟอร์มออนไลน์</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-menu tracking_menu">
                            <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                        </li>
                    </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>