<div class="header--wrapper">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-11">

            <div class="header header__inner">
                <div class="logo">
                    <a href="/en">
                        <img src="~/images/logo/logo.png" alt="logo website" />
                    </a>
                </div>

                <div class="menulang--wrapper">
                    <div class="menu--outer">
                        <div class="menu-wrapper menu-wrapper__xl">
                            <ul>
                                <li class="list-menu">
                                    <a href="/en">Home</a>
                                </li>
                                <li class="list-menu">
                                    <a id="about" href="/en/About">About</a>
                                </li>
                                <li class="list-menu">
                                    <a id="product" class="menu-name" href="javascript:void(0)">Product</a>
                                    <div class="submenu--wrapper" id="product_sub">
                                        <ul>
                                            <li>
                                                <a href="/en/Product">GPS</a>
                                            </li>
                                            <li>
                                                <a href="/en/Product/Camera">Camera Online</a>
                                            </li>
                                        </ul>
                                        <div class="icon-close">
                                            <i class="bi bi-x"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-menu">
                                    <a id="contact" class="menu-name" href="javascript:void(0)">Contact</a>
                                    <div class="submenu--wrapper" id="contact_sub">
                                        <ul>
                                            <li>
                                                <a href="/en/Contact">Contact</a>
                                            </li>
                                            <li>
                                                <a href="/en/Contact/Formonline">Form Online</a>
                                            </li>
                                        </ul>
                                        <div class="icon-close">
                                            <i class="bi bi-x"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-menu tracking_menu">
                                    <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">Tracking</a>
                                </li>
                            </ul>
                        </div>

                        <div class="menu-wrapper menu-wrapper__md">
                            <div class="hamburger-menu">
                                <div class="bar"></div>
                            </div>
                            <div class="menu--nav hide">
                                <div class="lang-md">
                                    <ul>
                                        <li class="icon-lang">
                                            <a href="" class="link-lang link-lang__th" data-lang="th">
                                                <div class="icon">
                                                    <img src="~/images/icons/icon-th.png" />
                                                </div>
                                                <span>TH</span>
                                            </a>
                                        </li>
                                        <li class="icon-lang">
                                            <a href="" class="link-lang link-lang__en" data-lang="en">
                                                <div class="icon">
                                                    <img src="~/images/icons/icon-en.png" />
                                                </div>
                                                <span>EN</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ul>
                                    <li class="list-menu">
                                        <a href="/en">หน้าหลัก</a>
                                    </li>
                                    <li class="list-menu">
                                        <a id="about" href="/en/About">เกี่ยวกับเรา</a>
                                    </li>
                                    <li class="list-menu">
                                        <a href="javascript:void(0)">สินค้า</a>
                                        <div class="submenu--wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/en/Product">GPS</a>
                                                </li>
                                                <li>
                                                    <a href="/en/Product/Camera">Camera Online</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-menu">
                                        <a href="javascript:void(0)">ติดต่อเรา</a>
                                        <div class="submenu--wrapper">
                                            <ul>
                                                <li>
                                                    <a href="/en/Contact">Contact</a>
                                                </li>
                                                <li>
                                                    <a href="/en/Contact/Formonline">Form Online</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="list-menu tracking_menu">
                                        <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="lang">
                        <div class="icon-logo">
                            <img src="~/images/icons/icon-en.png" alt="icon EN"/>
                        </div>
                        <select id="lang_Swtich" class="selectLange" data-lang="en">
                            <option value="en" selected>EN</option>
                            <option value="th">TH</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>