<div class="footer--wrapper">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11">
            <div class="footer footer__inner">
                <div class="logo">
                    <a href="/">
                        <img src="~/images/logo/logo.png" alt="logo website" />
                    </a>
                </div>
                <div class="menu-wrapper">
                    <ul>
                        <li class="list-menu">
                            <a href="/">หน้าหลัก</a>
                        </li>
                        <li class="list-menu">
                            <a id="about" href="javascript:void(0)">เกี่ยวกับเรา</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="/About">เกี่ยวกับบริษัท</a>
                                    </li>
                                    <li>
                                        <a href="/About/Vision">วิสัยทัศน์และพันธกิจ</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-menu">
                            <a href="/Product">สินค้า</a>
                        </li>
                        <li class="list-menu">
                            <a href="/Contact">ติดต่อเรา</a>
                        </li>
                        <li class="list-menu">
                            <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright 2024 All right reserved. WONDER MATICS.</p>
            </div>
        </div>
    </div>
</div>


<div class="chat--wrapper">
    <div class="listChat listChat--line">
        <a href="https://lin.ee/6meVqKg" target="_blank">
            <i class="bi bi-line"></i>
        </a>
    </div>
</div>

<div class="gototop">
    <i class="bi bi-arrow-up-short"></i>
</div>

<div class="backdrop hide"></div>