<div class="header--wrapper">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-11">

            <div class="header header__inner">
                <div class="logo">
                    <a href="/">
                        <img src="~/images/logo/logo.png" alt="logo website" />
                    </a>
                </div>
                <div class="menu-wrapper menu-wrapper__xl">
                    <ul>
                        <li class="list-menu">
                            <a href="/">หน้าหลัก</a>
                        </li>
                        <li class="list-menu">
                            <a id="about" href="javascript:void(0)">เกี่ยวกับเรา</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="/About">เกี่ยวกับบริษัท</a>
                                    </li>
                                    <li>
                                        <a href="/About/Vision">วิสัยทัศน์และพันธกิจ</a>
                                    </li>
                                </ul>
                                <div class="icon-close">
                                    <i class="bi bi-x"></i>
                                </div>
                            </div>
                        </li>
                        <li class="list-menu">
                            <a href="/Product">สินค้า</a>
                        </li>
                        <li class="list-menu">
                            <a href="/Contact">ติดต่อเรา</a>
                        </li>
                        <li class="list-menu">
                            <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                        </li>
                    </ul>
                </div>

                <div class="menu-wrapper menu-wrapper__md">
                    <div class="hamburger-menu">
                        <div class="bar"></div>	
                    </div>
                    <div class="menu--nav hide">
                        <ul>
                        <li class="list-menu">
                            <a href="/">หน้าหลัก</a>
                        </li>
                        <li class="list-menu">
                            <a id="about" href="javascript:void(0)">เกี่ยวกับเรา</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="/About">เกี่ยวกับบริษัท</a>
                                    </li>
                                    <li>
                                        <a href="/About/Vision">วิสัยทัศน์และพันธกิจ</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-menu">
                            <a href="/Product">สินค้า</a>
                        </li>
                        <li class="list-menu">
                            <a href="/Contact">ติดต่อเรา</a>
                        </li>
                        <li class="list-menu">
                            <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                        </li>
                    </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>