<div class="footer--wrapper">
    <div class="row justify-content-center">
        <div class="col-12 col-md-11">
            <div class="footer footer__inner">
                <div class="app-wraapper">
                    <p>ดาวน์โหลดแอปพลิเคชั่น</p>
                    <ul>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.kratostracking.ktracker" target="_blank">
                                <img src="~/images/icons/ic-playstore.png" alt="icon Google play"/>
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.apple.com/th/app/wonder-matics/id6443707012" target="_blank">
                                <img src="~/images/icons/ic-appstore.png" alt="icon App store"/>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-wrapper">
                    <ul>
                        <li class="list-menu">
                            <a href="/">หน้าหลัก</a>
                        </li>
                        <li class="list-menu">
                            <a id="about" href="/About">เกี่ยวกับเรา</a>
                        </li>
                        <li class="list-menu">
                            <a href="/Product">สินค้า</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="/">GPS</a>
                                    </li>
                                    <li>
                                        <a href="/">กล้องออนไลน์</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-menu">
                            <a href="/Contact">ติดต่อเรา</a>
                            <div class="submenu--wrapper">
                                <ul>
                                    <li>
                                        <a href="/">ติดต่อเรา</a>
                                    </li>
                                    <li>
                                        <a href="/">แบบฟอร์มออนไลน์</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-menu tracking_menu">
                            <a href="http://ww3.kratostracking.com/zConsulting/Login.aspx" target="_blank">ระบบติดตาม</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright 2024 All right reserved. WONDER MATICS.</p>
            </div>

        </div>
    </div>
</div>


<div class="chat--wrapper">
    <div class="allChat">
        <div class="listChat listChat--line">
            <a href="https://lin.ee/6meVqKg" target="_blank">
                <i class="bi bi-line"></i>
            </a>
        </div>
    </div>
</div>

@* <div class="gototop">
    <i class="bi bi-arrow-up-short"></i>
</div> *@

<div class="backdrop hide"></div>