@{
    ViewData["Title"] = "ติดต่อเรา - แบบฟอร์มออนไลน์";
}


<div class="section section--contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-3">ติดต่อเรา - แบบฟอร์มออนไลน์</h1>
            </div>
            <div class="col-12">
                <div class="boxform--wrapper shadow">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                    
                    <form class="form--wrapper">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="title-form" for="topic">หัวข้อเรื่อง</label>
                                    <select class="form-select" id="topic">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="title-form" for="detail">รายละเอียด</label>
                                    <textarea class="form-textarea" id="detail" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="title-form" for="name">ชื่อ</label>
                                    <textarea class="form-control" id="name" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="title-form" for="lastname">นามสกุล</label>
                                    <textarea class="form-control" id="name" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="title-form" for="tel">เบอร์โทรศัพท์</label>
                                    <textarea class="form-control" id="tel" rows="5"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label class="title-form" for="mail">อีเมล</label>
                                    <textarea class="form-control" id="mail" rows="5"></textarea>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn--primary">
                                    <span class="text">ส่งข้อมูล</span>
                                    <span class="icon"><i class="bi bi-arrow-right-short"></i></span>
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>