@{
    ViewData["Title"] = "ติดต่อเรา";
}

<div class="section section--contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-5">ติดต่อเรา</h1>
            </div>
            <div class="col-12">
                <div class="map--wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31006.836591974905!2d100.540504!3d13.727253!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29f7b1807d7c9%3A0xaed3eeb8abfc73b!2sU%20Chu%20Liang%20Building!5e0!3m2!1sen!2sus!4v1721716190194!5m2!1sen!2sus" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                    </iframe>

                    <div class="text-hightlight">
                        <h2 class="title">บริษัท วันเดอ มาติกส์ จำกัด</h2>
                        <address class="address">
                            968 อาคาร อื้อจือเหลียง ชั้น5 ถนนพระราม 4 <br>
                            แขวง สีลม เขต บางรัก กรุงเทพฯ 10500
                        </address>
                    </div>
                </div>
            </div>
            <div class="group--contact">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="group--item">
                            <div class="icons"><i class="bi bi-calendar3"></i></div>
                            <div class="text">วันทำการ <label>จันทร์ - ศุกร์</label></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="group--item">
                            <div class="icons">
                                <i class="bi bi-clock"></i>
                            </div>
                            <div class="text">เวลาทำการ <label>08.30 - 17.00</label></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="group--item">
                            <div class="icons"><i class="bi bi-telephone"></i></div>
                            <div class="text">เบอร์ติดต่อ</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-5">
                        <p class="title">ฝ่ายขาย</p>
                        <ul class="list-contact">
                            <li>
                                <a href="tel:020953665" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3665
                                </a>
                            </li>
                            <li>
                                <a href="tel:020953666" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3666
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 mb-5">
                        <p class="title">ฝ่ายลูกค้าสัมพันธ์</p>
                        <ul class="list-contact">
                            <li>
                                <a href="tel:020953655" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3655
                                </a>
                            </li>
                            <li>
                                <a href="tel:020953656" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3656
                                </a>
                            </li>
                            <li>
                                <a href="tel:020953656" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3658
                                </a>
                            </li>
                            <li>
                                <a href="tel:020953673" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3673
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 mb-5">
                        <p class="title">ติดต่อแจ้งซ่อมอุปกรณ์</p>
                        <ul class="list-contact">
                            <li>
                                <a href="tel:020953657" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3657
                                </a>
                            </li>
                            <li>
                                <a href="tel:020953660" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 02-095-3660
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 mb-5">
                        <p class="title">นอกเวลาทำการ</p>
                        <ul class="list-contact">
                            <li>
                                <a href="tel:0818018829" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 081-801-8829
                                </a>
                            </li>
                            <li>
                                <a href="tel:0818015181" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 081-801-5181
                                </a>
                            </li>
                            <li>
                                <a href="tel:0818018971" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 081-801-8971
                                </a>
                            </li>
                            <li>
                                <a href="tel:0818018897" class="link-tel">
                                    <i class="bi bi-telephone-forward"></i> 081-801-8897
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>