.footer--wrapper {
    //background-color: rgba(0, 62, 81, .6);
    background-color: $color-primary;
    padding: 20px 0;
    overflow: hidden;

    .footer {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1028;
            width: 100%;
            padding: 20px;
        }
    }


    .logo {
        max-width: 250px;

        a {
            display: block;

            img {
                max-width: 100%;
            }
        }
    }

    .menu-wrapper {
        ul {
            display: flex;
            justify-content: space-between;
            list-style: none;
            margin: 0;
            padding: 0;

            .list-menu {
                //position: relative;
                width: 190px;

                a {
                    padding: .5rem 1rem;
                    font-size: 20px;
                    line-height: 20px;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }

                .submenu--wrapper {
                    padding-top: 20px;

                    ul {
                        flex-direction: column;
                        list-style: disc;
                        padding-left: 35px;

                        li {
                            margin-bottom: 10px;

                            a {
                                font-size: 16px;
                                padding-left: 0;
                            }

                            &::marker {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    .copyright {
        text-align: center;
        font-size: 18px;
        color: white;
    }

    @media (max-width: 1399.98px) {
        .footer {
            &__inner {
                display: block;
            }
        }

        .logo {
            margin-bottom: 2rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (max-width: 1199.98px) {
        .menu-wrapper {
            ul {
                .list-menu {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        .menu-wrapper {
            ul {
                display: block;
                .list-menu{
                    width: max-content;
                    margin-bottom: 1.5rem;
                    .submenu--wrapper{
                        padding-left: 25px;
                    }
                }
            }
        }
    }
}
