.header--wrapper {
    //background-color: rgba(0, 62, 81, .6);
    background-color: $color-primary;
    width: 100%;
    height: 140px;
    top: 0;
    left: 0;
    z-index: 1028;
    position: fixed;

    .header {
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
    }

    .logo {
        max-width: 250px;

        a {
            display: block;

            img {
                max-width: 100%;
            }
        }
    }



    &.sticky {
        height: 95px;

        .logo {
            max-width: 170px;
        }

        .menu-wrapper {
            ul {
                li {
                    a {
                        font-size: 20px;
                    }

                    .submenu--wrapper {
                        height: 100px;

                        &.active {
                            top: 95px !important;
                        }
                    }
                }
            }

            &__md {
                @media (max-width: 1199.98px) {
                    .hamburger-menu {
                        top: 20px;
                    }
                }
            }
        }
    }

    .menulang--wrapper {
        display: flex;
        align-items: center;

        .menu--outer {
            .menu-wrapper {

                &__xl {
                    display: block;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        list-style: none;
                        margin: 0;
                        padding: 0;

                        .list-menu {
                            //position: relative;
                            a {
                                padding: .5rem 1rem;
                                font-size: 22px;
                                line-height: 24px;
                                color: white;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            margin-right: 15px;

                            &:last-child {
                                margin-right: 0;
                            }

                            .submenu--wrapper {
                                height: 120px;
                                padding: 20px 45px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                z-index: 8;
                                background-color: rgba(0, 62, 81, 0.8);
                                -webkit-transition: all 0.4s ease-in-out;
                                -moz-transition: all 0.4s ease-in-out;
                                transition: all 0.4s ease-in-out;
                                opacity: 0;
                                visibility: hidden;

                                ul {
                                    height: 100%;
                                    justify-content: flex-start;
                                    align-items: center;

                                    li {
                                        width: 25%;
                                    }
                                }

                                .icon-close {
                                    position: absolute;
                                    top: 20px;
                                    right: 50px;
                                    cursor: pointer;

                                    i {
                                        color: white;
                                        font-size: 30px;
                                    }
                                }

                                &.active {
                                    top: 140px;
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    }

                    @media (max-width: 1199.98px) {
                        display: none;
                    }
                }

                &__md {
                    display: none;

                    @media (max-width: 1199.98px) {
                        display: block;


                        .hamburger-menu {
                            z-index: 2;
                            position: absolute;
                            top: 40px;
                            right: 35px;
                            width: 35px;
                            height: 40px;
                            cursor: pointer;


                            .bar,
                            .bar:after,
                            .bar:before {
                                width: 35px;
                                height: 3px;
                            }

                            .bar {
                                &:after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: 12px;
                                    background: rgba(255, 255, 255, 1);
                                    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                }

                                &:before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: 12px;
                                    background: rgba(255, 255, 255, 1);
                                    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                }

                                &.animate {
                                    background: rgba(255, 255, 255, 0);

                                    &:after {
                                        width: 25px;
                                        top: 0;
                                        background: rgba(0, 62, 81, 1);
                                        transform: rotate(45deg);
                                        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                    }

                                    &:before {
                                        width: 25px;
                                        bottom: 0;
                                        background: rgba(0, 62, 81, 1);
                                        transform: rotate(-45deg);
                                        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                    }
                                }
                            }


                            .bar {
                                position: relative;
                                transform: translateY(25px);
                                background: rgba(255, 255, 255, 1);
                                transition: all 0ms 300ms;
                            }
                        }

                        .menu--nav {
                            width: 310px;
                            height: 100vh;
                            position: absolute;
                            top: 0;
                            padding-top: 90px;
                            padding-left: 15px;
                            background-color: rgba(217, 217, 214, .8);

                            .lang-md {
                                position: relative;
                                padding: 0 1rem;

                                ul {
                                    margin: 0;
                                    padding: 0;
                                    display: flex;

                                    li {
                                        list-style: none;
                                        margin-right: 2rem;
                                        margin-bottom: 2rem;
                                    }

                                    .icon-lang {
                                        a{
                                            display: flex;
                                            text-decoration: none;
                                            color: $color-primary;
                                        }

                                        .icon {
                                            width: 25px;
                                            height: 25px;
                                            margin-right: 1rem;

                                            img {
                                                width: 100%;
                                            }
                                        }

                                        span {
                                            font-size: 1.25rem;
                                            font-weight: $weight-regular;
                                        }
                                    }
                                }
                            }

                            ul {
                                margin: 0;
                                padding: 0;

                                .list-menu {
                                    list-style: none;
                                    margin-bottom: 1.25rem;

                                    a {
                                        padding: .5rem 1rem;
                                        font-size: 1.25rem; //20
                                        line-height: 1.625rem; //26
                                        color: $color-primary;
                                        text-decoration: none;
                                        font-weight: $weight-semibold;

                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }

                                    .submenu--wrapper {
                                        margin-top: 1.5rem;
                                        height: auto;

                                        ul {
                                            padding-left: 1.5rem;

                                            li {
                                                list-style: none;
                                                margin-bottom: 1rem;

                                                a {
                                                    font-size: 1.125rem; //18
                                                    color: $color-primary;
                                                }

                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.show {
                                right: 0;
                            }

                            &.hide {
                                right: -100%;
                                transition: all .6s ease-in-out !important;
                            }
                        }
                    }
                }
            }
        }

        .lang {
            display: flex;
            align-items: center;
            margin-left: 1rem;
            padding-left: 1.5rem;
            border-left: 2px solid white;

            .icon-logo {
                width: 30px;
                height: 30px;
                overflow: hidden;
                margin-right: 1rem;

                img {
                    max-width: 100%;
                    width: 100%;
                }
            }

            .selectLange {
                background-color: inherit;
                border: none;
                width: 55px;
                color: white;
                cursor: pointer;

                option {
                    color: #000;
                }

                &:focus {
                    outline: none;
                }
            }

            @media (max-width: 1199.98px) {
                display: none;
            }
        }
    }

    @media (max-width: 1199.98px) {
        &.sticky {
            .menulang--wrapper {
                .menu--outer{
                    .menu-wrapper{
                        &__md{
                            .hamburger-menu{
                                top: 20px;
                            }
                        }
                    }
                }
            }
        }

        .menulang--wrapper {
            .menu--outer {
                .menu-wrapper {
                    &__md {
                        .menu--nav {
                            ul {
                                .list-menu {
                                    &:last-child {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767.98px) {
        height: 95px;

        .logo {
            max-width: 170px;
        }

        .menulang--wrapper {
            .menu--outer {
                .menu-wrapper {
                    &__md {
                        .hamburger-menu {
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
}
