@{
    ViewData["Title"] = "สินค้า - กล้องออนไลน์";
}

<div class="section section--product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-5">สินค้า - กล้องออนไลน์</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <nav class="tab--wrapper">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-online-tab" data-bs-toggle="tab" data-bs-target="#nav-online" type="button" role="tab" aria-controls="nav-online" aria-selected="true">กล้องออนไลน์</button>
                        <button class="nav-link" id="nav-ai-tab" data-bs-toggle="tab" data-bs-target="#nav-ai" type="button" role="tab" aria-controls="nav-ai" aria-selected="false">กล้อง AI</button>
                        <span class="glider tab_online"></span>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-online" role="tabpanel" aria-labelledby="nav-online-tab">
                        <div class="card card--widget">
                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">Front View</div>
                                            <div class="name name__th">Driving condition</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">Front View</div>
                                                <div class="name name__th">Driving condition</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีอินฟราเรดในตัวสำหรับบันทึกภาพตอนกลางคืน</p>
                                                    </li>
                                                    <li>
                                                        <p>ติดตั้ง ในจุดต่างๆของยานพาหนะได้สูงสุดถึง 4 ตำแหน่ง</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลออนไลน์และ Real Time</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">MDVR</div>
                                            <div class="name name__th">-</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">MDVR</div>
                                                <div class="name name__th">-</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีเมมโมรี่การ์ดคู่รวม 256 GB</p>
                                                    </li>
                                                    <li>
                                                        <p>ดาวน์โหลดวีดีโอผ่าน WIFI</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">Vehicle View</div>
                                            <div class="name name__th">Angle Blind-spot</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">Vehicle View</div>
                                                <div class="name name__th">Angle Blind-spot</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>ระบุตำแหน่งพิกัด GPS และแสดงแผนที่ในตัว</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลวัน/เดือน/ปี และความเร็วในภาพบันทึก</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">Reversing</div>
                                            <div class="name name__th">Auxlilary</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">Reversing</div>
                                                <div class="name name__th">Auxlilary</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>ระบุตำแหน่งพิกัด GPS และแสดงแผนที่ในตัว</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลวัน/เดือน/ปี และความเร็วในภาพบันทึก</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">Dashcam</div>
                                            <div class="name name__th">for driver behavior</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">Dashcam</div>
                                                <div class="name name__th">for driver behavior</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>เก็บบันทึกข้อมูงลเซิร์ฟเวอร์ขนาดใหญ่ให้นานสูงสุด 3 เดือน</p>
                                                    </li>
                                                    <li>
                                                        <p>รองรับระบบกล้อง 2 เลนส์ บันทึกภาพภายในห้องขับขี่และด้านหน้ารถ</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-ai" role="tabpanel" aria-labelledby="nav-ai-tab">
                        <div class="card card--widget">
                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">M1N-H0401</div>
                                            <div class="name name__th">Lorem Ipsum</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">M1N-H0401</div>
                                                <div class="name name__th">Lorem Ipsum</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีอินฟราเรดในตัวสำหรับบันทึกภาพตอนกลางคืน</p>
                                                    </li>
                                                    <li>
                                                        <p>ติดตั้ง ในจุดต่างๆของยานพาหนะได้สูงสุดถึง 4 ตำแหน่ง</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลออนไลน์และ Real Time</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">CA20S</div>
                                            <div class="name name__th">Lorem Ipsum</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">CA20S</div>
                                                <div class="name name__th">Lorem Ipsum</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีอินฟราเรดในตัวสำหรับบันทึกภาพตอนกลางคืน</p>
                                                    </li>
                                                    <li>
                                                        <p>ติดตั้ง ในจุดต่างๆของยานพาหนะได้สูงสุดถึง 4 ตำแหน่ง</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลออนไลน์และ Real Time</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">C29N</div>
                                            <div class="name name__th">Lorem Ipsum</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">C29N</div>
                                                <div class="name name__th">Lorem Ipsum</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีอินฟราเรดในตัวสำหรับบันทึกภาพตอนกลางคืน</p>
                                                    </li>
                                                    <li>
                                                        <p>ติดตั้ง ในจุดต่างๆของยานพาหนะได้สูงสุดถึง 4 ตำแหน่ง</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลออนไลน์และ Real Time</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">Seat Vibrator</div>
                                            <div class="name name__th">Lorem Ipsum</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">Seat Vibrator</div>
                                                <div class="name name__th">Lorem Ipsum</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีอินฟราเรดในตัวสำหรับบันทึกภาพตอนกลางคืน</p>
                                                    </li>
                                                    <li>
                                                        <p>ติดตั้ง ในจุดต่างๆของยานพาหนะได้สูงสุดถึง 4 ตำแหน่ง</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลออนไลน์และ Real Time</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card--item shadow">
                                <div class="card--front">
                                    <div class="card-image">
                                        <img src="~/images/img-product.png" alt="image-product" />
                                    </div>
                                    <div class="card-body">
                                        <div class="name-body">
                                            <div class="name name__en fw-semibold">GPS Antenna</div>
                                            <div class="name name__th">Lorem Ipsum</div>
                                        </div>
                                        <div class="btn btn--outline showDesc">
                                            <div class="text">รายละเอียด</div>
                                            <div class="icon">
                                                <i class="bi bi-arrow-right-short"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card--back">
                                    <div class="card-body">
                                        <div class="content-body">
                                            <div class="name-body">
                                                <div class="name name__en fw-semibold">GPS Antenna</div>
                                                <div class="name name__th">Lorem Ipsum</div>
                                            </div>
                                            <div class="desc-body">
                                                <ul>
                                                    <li>
                                                        <p>มีอินฟราเรดในตัวสำหรับบันทึกภาพตอนกลางคืน</p>
                                                    </li>
                                                    <li>
                                                        <p>ติดตั้ง ในจุดต่างๆของยานพาหนะได้สูงสุดถึง 4 ตำแหน่ง</p>
                                                    </li>
                                                    <li>
                                                        <p>แสดงผลออนไลน์และ Real Time</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="btn btn--outline hideDesc">
                                            <div class="icon">
                                                <i class="bi bi-arrow-left-short"></i>
                                            </div>
                                            <div class="text">ย้อนกลับ</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.nav-link').click(function () {
                const tab_id = $(this).attr('id');
                //console.log(tab_id);

                if (tab_id == 'nav-online-tab') {
                    console.log('left');
                    $('.glider').removeClass('tab_ai');
                    $('.glider').addClass('tab_online')
                } else { 
                    console.log('right');
                    $('.glider').removeClass('tab_online');
                    $('.glider').addClass('tab_ai')
                }
            });
            
        });
    </script>
}