@{
    ViewData["Title"] = "สินค้า";
}

<div class="section section--product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-5">สินค้า</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card card--widget">
                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Temperature Sensor</div>
                                    <div class="name name__th">อุปกรณ์ตรวจวัดอุณหภูมิ</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="content-body">
                                    <div class="name-body">
                                        <div class="name name__en fw-semibold">Temperature Sensor</div>
                                        <div class="name name__th">อุปกรณ์ตรวจวัดอุณหภูมิ</div>
                                    </div>
                                    <div class="desc-body">
                                        ใช้สำหรับรถห้องเย็น และยังมีระบบแจ้งเตือนเมื่ออุณหภูมิสูงหรือต่ำกว่า ที่กำหนดโดยส่งข้อความเตือนผ่าน Real Time บน website, SMS หรืออีเมล


                                        เป็นรายงานที่แสดงข้อมูลการขับรถความเร็วเกินกำหนด โดยผู้ใช้งานสามารถดูได้ผ่านหน้าเว็บหรือดาวน์โหลดมาเพื่อแสดงเป็น PDF หรือ EXCEL ก็ได้ ซึ่งจะแสดงข้อมูลเป็นกราฟและตารางข้อมูลช่วงเวลาที่ขับรถความเร็วเกินกำหนด


                                        เป็นรายงานที่แสดงข้อมูลการขับรถความเร็วเกินกำหนด โดยผู้ใช้งานสามารถดูได้ผ่านหน้าเว็บหรือดาวน์โหลดมาเพื่อแสดงเป็น PDF หรือ EXCEL ก็ได้ ซึ่งจะแสดงข้อมูลเป็นกราฟและตารางข้อมูลช่วงเวลาที่ขับรถความเร็วเกินกำหนด

                                    </div>
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Speed Alert</div>
                                    <div class="name name__th">ระบบแจ้งเตือนความเร็ว</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="content-body">
                                    <div class="name-body">
                                        <div class="name name__en fw-semibold">Speed Alert</div>
                                        <div class="name name__th">ระบบแจ้งเตือนความเร็ว</div>
                                    </div>
                                    <div class="desc-body">
                                        เป็นอุปกรณ์ใช้แจ้งเตือนคนขับเมื่อขับรถเร็วเกินกว่ากำหนด
                                    </div>
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Smart Card</div>
                                    <div class="name name__th">เครื่องรูดบัตร smart card</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Smart Card</div>
                                    <div class="name name__th">เครื่องรูดบัตร smart card</div>
                                </div>
                                <div class="desc-body">
                                    เป็นชุดอุปกรณ์ที่ใช้แจ้งเตือนเมื่อมีความเร็วเกินกำหนด ซึ่งจะมีเสียงแจ้งเตือนคนขับและมีข้อความแสดงบนหน้าเว็บไซต์และบนแอพพลิเคชั่นของมือถือ
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">DVR Camera</div>
                                    <div class="name name__th">กล้องบันทึกภาพ</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">DVR Camera</div>
                                    <div class="name name__th">กล้องบันทึกภาพ</div>
                                </div>
                                <div class="desc-body">
                                    สามารถบันทึกภาพและเสียงรวมถึงพิกัดที่รถวิ่งได้ กำหนดทิศทางในการบันทึกได้ทั้งด้านหน้าด้านหลังและด้านข้าง โดยผ่านทางระบบ 3G Real Time
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Emergency Button</div>
                                    <div class="name name__th">ปุ่มฉุกเฉิน</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Emergency Button</div>
                                    <div class="name name__th">ปุ่มฉุกเฉิน</div>
                                </div>
                                <div class="desc-body">
                                    ใช้ในกรณีฉุกเฉินโดยเมื่อผู้ขับขี่กดปุ่มระบบจะทำการส่งข้อความขอความช่วยเหลือ(SOS)ไปยังเบอร์โทรศัพท์มือถือที่เรากำหนดไว้
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Door Sensor</div>
                                    <div class="name name__th">เซ็นเซอร์ประตู</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Door Sensor</div>
                                    <div class="name name__th">เซ็นเซอร์ประตู</div>
                                </div>
                                <div class="desc-body">
                                    อุปกรณ์ตรวจการเปิด-ปิดของประตูรถและสามารถแจ้งเตือนผ่าน อีเมล์และ SMS บนมือถือได้
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">One way Communication</div>
                                    <div class="name name__th">ระบบสื่อสารทางเดียว</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">One way Communication</div>
                                    <div class="name name__th">ระบบสื่อสารทางเดียว</div>
                                </div>
                                <div class="desc-body">
                                    ระบบที่ทำให้บุคคลที่เกี่ยวข้องภายนอกสามารถฟังการสนทนาภายในห้องโดยสาร โดยที่ผู้ขับไม่สามารถสนทนาโต้ตอบกลับได้
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Two way Communication</div>
                                    <div class="name name__th">ระบบสื่อสารสองทาง</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Two way Communication</div>
                                    <div class="name name__th">ระบบสื่อสารสองทาง</div>
                                </div>
                                <div class="desc-body">
                                    เป็นระบบที่บุคคลที่เกี่ยวข้องสามารถติดต่อสื่อสารกับบุคคลที่อยู่ในห้องขังได้
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">เครื่องอุปกรณ์สั่งตัดคันเร่งรถยนต์</div>
                                    <div class="name name__th">-</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">เครื่องอุปกรณ์สั่งตัดคันเร่งรถยนต์</div>
                                    <div class="name name__th">-</div>
                                </div>
                                <div class="desc-body">
                                    ตัดคันเร่งไม่ให้รถสามารถเคลื่อนที่ไปที่อื่นได้
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Kratos Website</div>
                                    <div class="name name__th">ระบบใช้งานบนเว็บ</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Kratos Website</div>
                                    <div class="name name__th">ระบบใช้งานบนเว็บ</div>
                                </div>
                                <div class="desc-body">
                                    การใช้งานบนคอมพิวเตอร์ Desktop ซึ่งจะแสดงข้อมูลและผู้ใช้สามารถแก้ไขข้อมูลได้
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Map System</div>
                                    <div class="name name__th">ระบบแผนที่</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Map System</div>
                                    <div class="name name__th">ระบบแผนที่</div>
                                </div>
                                <div class="desc-body">
                                    ระบบแผนที่ที่สามารถดูได้ทั้งแบบปกติและแบบแผนที่ ซึ่งระบบสามารถให้ผู้ใช้สามารถสร้างโซน เส้นทางและสถานที่ได้โดยง่าย
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card--item shadow">
                        <div class="card--front">
                            <div class="card-image">
                                <img src="~/images/img-product.png" alt="image-product" />
                            </div>
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Speeding Report</div>
                                    <div class="name name__th">รายงานการใช้ความเร็วเกินกำหนด</div>
                                </div>
                                <div class="btn btn--outline showDesc">
                                    <div class="text">รายละเอียด</div>
                                    <div class="icon">
                                        <i class="bi bi-arrow-right-short"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card--back">
                            <div class="card-body">
                                <div class="name-body">
                                    <div class="name name__en fw-semibold">Speeding Report</div>
                                    <div class="name name__th">รายงานการใช้ความเร็วเกินกำหนด</div>
                                </div>
                                <div class="desc-body">
                                    เป็นรายงานที่แสดงข้อมูลการขับรถความเร็วเกินกำหนด โดยผู้ใช้งานสามารถดูได้ผ่านหน้าเว็บหรือดาวน์โหลดมาเพื่อแสดงเป็น PDF หรือ EXCEL ก็ได้ ซึ่งจะแสดงข้อมูลเป็นกราฟและตารางข้อมูลช่วงเวลาที่ขับรถความเร็วเกินกำหนด
                                </div>
                                <div class="btn btn--outline hideDesc">
                                    <div class="icon">
                                        <i class="bi bi-arrow-left-short"></i>
                                    </div>
                                    <div class="text">ย้อนกลับ</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-12">
                <div class="certificate--wrapper">
                    <h2 class="text-main fw-semibold mb-4">ได้รับการรับรอง</h2>
                    <h4 class="text-desc fw-light">
                        <label class="fw-semibold">บริษัท วันเดอ มาติกส์ จำกัด</label> ได้รับการรับรองจากสำนักงาน กสทช.ให้สามารถประกอบกิจการด้านโทรคมนาคมประเภทที่ 1
                        ผ่านการรับรองจากกรมการขนส่งทางบกให้สามารถติดตั้งอุปกรณ์ GPS สำหรับรถบรรทุกวัตถุอันตราย
                        ผ่านการตรวจสอบจาก ศูนย์ทดสอบผลิตภัณฑ์ไฟฟ้าและอิเล็กทรอนิกส์ (PTEC)
                    </h4>

                    <div class="gallery--certificate">
                        <ul>
                            <li>
                                <img src="~/images/img-certificate.png" />
                            </li>
                            <li>
                                <img src="~/images/img-certificate.png" />
                            </li>
                            <li>
                                <img src="~/images/img-certificate.png" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>