@{
    ViewData["Title"] = "สินค้า";
}

<div class="section section--product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-5">สินค้า</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card card--widget shadow">
                    <div class="card--front">
                        <div class="card-image">
                            <img src="~/images/img-product.png" alt="image-product" />
                        </div>
                        <div class="card-body">
                            <div class="name-body">
                                <div class="name name__en fw-semibold">Temperature Sensor</div>
                                <div class="name name__th">อุปกรณ์ตรวจวัดอุณหภูมิ</div>
                            </div>
                            <div class="btn btn--outline">
                                <div class="text">รายละเอียด </div>
                                <div class="icon">
                                    <i class="bi bi-arrow-right-short"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card--back">
                        <div class="card-body">
                            <div class="name-body">
                                <div class="name name__en fw-semibold">Temperature Sensor</div>
                                <div class="name name__th">อุปกรณ์ตรวจวัดอุณหภูมิ</div>
                            </div>
                            <div class="btn btn--outline">
                                <div class="icon">
                                    <i class="bi bi-arrow-left-short"></i>
                                </div>
                                <div class="text">กลับ</div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>