@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');

* {
    font-family: "Prompt", sans-serif;
    font-style: normal;
}

$weight-light: 300;
$weight-regular: 400;
$weight-semibold: 600;

.fw-light{
    font-weight: $weight-light;
}
.fw-regular {
    font-weight: $weight-regular;
}
.fw-semibold{
    font-weight: $weight-semibold;
}