@{
    ViewData["Title"] = "เกี่ยวกับเรา";
}

<div class="section section--content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-5">เกี่ยวกับบริษัท</h1>
                <p class="text-desc fw-light">
                    <label class="fw-semibold">บริษัท วันเดอ มาติกส์ จำกัด</label> ได้เริ่มก่อตั้งขึ้นในปี พ.ศ. 2548 เป็นผู้ให้บริการ (GPS Tracking) ระบบติดตามรถยนต์ ด้วยประสบการณ์การให้บริการมานานกว่า 13ปี เป็นบริษัทระดับชั้นนำในประเทศไทยที่มีทั้งระบบฮาร์ดแวร์ (Hardware) ซึ่งออกแบบและผลิตอุปกรณ์อิเล็กทรอนิกส์ เพื่อใช้ในการควบคุมและตรวจสอบยานพาหนะ รวมถึงระบบซอฟแวร์ (Software) ที่สามารถปรับการใช้ตามความต้องการของแต่ละองค์กรในทุกอุตสาหกรรมเพื่อประโยชน์สูงสุดในการทำงาน ทั้งนี้ผู้บริหารและพนักงานทุกคนขอให้คำมั่นสัญญาว่าเราจะมุ่งมั่นพัฒนาสินค้า และการให้บริการที่ดี รวดเร็ว เพื่อให้ลูกค้าได้รับความพึงพอใจและประโยชน์สูงสุดจากเรา
                </p>
            </div>
        </div>
    </div>

</div>

