@{
    ViewData["Title"] = "เกี่ยวกับเรา";
}

<div class="section section--content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-3">เกี่ยวกับบริษัท</h1>
                <p class="text-desc fw-light">
                    <label class="fw-semibold">บริษัท วันเดอ มาติกส์ จำกัด</label> ได้เริ่มก่อตั้งขึ้นในปี พ.ศ. 2548 เป็นผู้ให้บริการ (GPS Tracking) ระบบติดตามรถยนต์ ด้วยประสบการณ์การให้บริการมานานกว่า 18 ปี เป็นบริษัทระดับชั้นนำในประเทศไทยที่มีทั้งระบบฮาร์ดแวร์ (Hardware) ซึ่งออกแบบและผลิตอุปกรณ์อิเล็กทรอนิกส์ เพื่อใช้ในการควบคุมและตรวจสอบยานพาหนะ รวมถึงระบบซอฟแวร์ (Software) ที่สามารถปรับการใช้ตามความต้องการของแต่ละองค์กร ในทุกอุตสาหกรรมเพื่อประโยชน์สูงสุดในการทำงาน
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="certificate--wrapper">
                    <h2 class="title--section fw-semibold mb-3">ได้รับการรับรอง</h2>
                    <h4 class="text-desc fw-light">
                        <label class="fw-semibold">บริษัท วันเดอ มาติกส์ จำกัด</label> ได้รับการรับรองจากสำนักงาน กสทช.ให้สามารถประกอบกิจการด้านโทรคมนาคมประเภทที่ 1
                        ผ่านการรับรองจากกรมการขนส่งทางบกให้สามารถติดตั้งอุปกรณ์ GPS สำหรับรถบรรทุกวัตถุอันตราย
                        ผ่านการตรวจสอบจาก ศูนย์ทดสอบผลิตภัณฑ์ไฟฟ้าและอิเล็กทรอนิกส์ (PTEC)
                    </h4>

                    <div class="gallery--certificate">
                        <ul>
                            <li>
                                <img src="~/images/img-certificate.png" />
                            </li>
                            <li>
                                <img src="~/images/img-certificate.png" />
                            </li>
                            <li>
                                <img src="~/images/img-certificate.png" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>