@{
    ViewData["Title"] = "วิสัยทัศน์และพันธกิจ";
}

<div class="section section--content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="title--section fw-semibold mb-5">วิสัยทัศน์และพันธกิจ</h1>
                <div class="box box--vision mb-5">
                    <div class="title-info fw-semibold">วิสัยทัศน์ (Vision)</div>
                    <p class="text-desc fw-light">
                        เป็นผู้นำด้านระบบติดตามรถยนต์ (GPS Tracking)
                    </p>
                </div>
                <div class="box box--mission">
                    <div class="title-info fw-semibold">พันธกิจ (Mission)</div>
                    <p class="text-desc fw-light">
                        พัฒนาประสิทธิภาพของสินค้าให้หลากหลายและมีคุณภาพดี ตอบสนองความต้องการของลูกค้า บริการที่ดีเพื่อความพอใจสูงสุดของลูกค้า เป้าหมายทางธุรกิจ ( Business Target) ผลิตภัณฑ์ บุคคากร การบริการ ได้รับการพัฒนาและปรับปรุงจนเป็นที่พึงพอใจของลูกค้า
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

