@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap");
* {
  font-family: "Prompt", sans-serif;
  font-style: normal;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.header--wrapper {
  background-color: #003e51;
  width: 100%;
  height: 140px;
  top: 0;
  left: 0;
  z-index: 1028;
  position: fixed;
}
.header--wrapper .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header--wrapper .logo {
  max-width: 250px;
}
.header--wrapper .logo a {
  display: block;
}
.header--wrapper .logo a img {
  max-width: 100%;
}
.header--wrapper .menu-wrapper__xl {
  display: block;
}
.header--wrapper .menu-wrapper__xl ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header--wrapper .menu-wrapper__xl ul .list-menu {
  margin-right: 15px;
}
.header--wrapper .menu-wrapper__xl ul .list-menu a {
  padding: 0.5rem 1rem;
  font-size: 22px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header--wrapper .menu-wrapper__xl ul .list-menu a:hover {
  text-decoration: underline;
}
.header--wrapper .menu-wrapper__xl ul .list-menu:last-child {
  margin-right: 0;
}
.header--wrapper .menu-wrapper__xl ul .list-menu .submenu--wrapper {
  height: 120px;
  padding: 20px 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  background-color: rgba(0, 62, 81, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.header--wrapper .menu-wrapper__xl ul .list-menu .submenu--wrapper ul {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.header--wrapper .menu-wrapper__xl ul .list-menu .submenu--wrapper ul li {
  width: 25%;
}
.header--wrapper .menu-wrapper__xl ul .list-menu .submenu--wrapper .icon-close {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
}
.header--wrapper .menu-wrapper__xl ul .list-menu .submenu--wrapper .icon-close i {
  color: white;
  font-size: 30px;
}
.header--wrapper .menu-wrapper__xl ul .list-menu .submenu--wrapper.active {
  top: 140px;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 1199.98px) {
  .header--wrapper .menu-wrapper__xl {
    display: none;
  }
}
.header--wrapper .menu-wrapper__md {
  display: none;
}
@media (max-width: 1199.98px) {
  .header--wrapper .menu-wrapper__md {
    display: block;
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu {
    z-index: 2;
    position: absolute;
    top: 40px;
    right: 35px;
    width: 35px;
    height: 40px;
    cursor: pointer;
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar,
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar:after,
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar:before {
    width: 35px;
    height: 3px;
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 12px;
    background: rgb(255, 255, 255);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 12px;
    background: rgb(255, 255, 255);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar.animate {
    background: rgba(255, 255, 255, 0);
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar.animate:after {
    width: 25px;
    top: 0;
    background: rgb(0, 62, 81);
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar.animate:before {
    width: 25px;
    bottom: 0;
    background: rgb(0, 62, 81);
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu .bar {
    position: relative;
    transform: translateY(25px);
    background: rgb(255, 255, 255);
    transition: all 0ms 300ms;
  }
  .header--wrapper .menu-wrapper__md .menu--nav {
    width: 310px;
    height: 100vh;
    position: absolute;
    top: 0;
    padding-top: 90px;
    padding-left: 15px;
    background-color: rgba(217, 217, 214, 0.8);
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul {
    margin: 0;
    padding: 0;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu {
    list-style: none;
    margin-bottom: 1.25rem;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu a {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: #003e51;
    text-decoration: none;
    font-weight: 600;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu a:hover {
    text-decoration: underline;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu .submenu--wrapper {
    margin-top: 1.5rem;
    height: auto;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu .submenu--wrapper ul {
    padding-left: 1.5rem;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu .submenu--wrapper ul li {
    list-style: none;
    margin-bottom: 1rem;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu .submenu--wrapper ul li a {
    font-size: 1.125rem;
    color: #003e51;
  }
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu .submenu--wrapper ul li:last-child {
    margin-bottom: 0;
  }
  .header--wrapper .menu-wrapper__md .menu--nav.show {
    right: 0;
  }
  .header--wrapper .menu-wrapper__md .menu--nav.hide {
    right: -100%;
    transition: all 0.6s ease-in-out !important;
  }
}
.header--wrapper.sticky {
  height: 95px;
}
.header--wrapper.sticky .logo {
  max-width: 170px;
}
.header--wrapper.sticky .menu-wrapper ul li a {
  font-size: 20px;
}
.header--wrapper.sticky .menu-wrapper ul li .submenu--wrapper {
  height: 100px;
}
.header--wrapper.sticky .menu-wrapper ul li .submenu--wrapper.active {
  top: 95px;
}
@media (max-width: 1199.98px) {
  .header--wrapper.sticky .menu-wrapper__md .hamburger-menu {
    top: 20px;
  }
}
@media (max-width: 1199.98px) {
  .header--wrapper .menu-wrapper__md .menu--nav ul .list-menu:last-child {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header--wrapper {
    height: 95px;
  }
  .header--wrapper .logo {
    max-width: 170px;
  }
  .header--wrapper .menu-wrapper__md .hamburger-menu {
    top: 20px;
  }
}

.footer--wrapper {
  background-color: #003e51;
  padding: 20px 0;
  overflow: hidden;
}
.footer--wrapper .footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1028;
  width: 100%;
  padding: 20px;
}
.footer--wrapper .app-wraapper p {
  font-size: 20px;
  line-height: 20px;
  color: white;
}
.footer--wrapper .app-wraapper ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.footer--wrapper .app-wraapper ul li {
  list-style: none;
  margin-right: 10px;
}
.footer--wrapper .app-wraapper ul li:last-child {
  margin-right: 0;
}
.footer--wrapper .logo {
  max-width: 250px;
}
.footer--wrapper .logo a {
  display: block;
}
.footer--wrapper .logo a img {
  max-width: 100%;
}
.footer--wrapper .menu-wrapper ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer--wrapper .menu-wrapper ul .list-menu {
  width: 190px;
  margin-right: 15px;
}
.footer--wrapper .menu-wrapper ul .list-menu a {
  padding: 0.5rem 1rem;
  font-size: 20px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}
.footer--wrapper .menu-wrapper ul .list-menu a:hover {
  text-decoration: underline;
}
.footer--wrapper .menu-wrapper ul .list-menu:last-child {
  margin-right: 0;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper {
  padding-top: 20px;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul {
  flex-direction: column;
  list-style: disc;
  padding-left: 35px;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li {
  margin-bottom: 10px;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li a {
  font-size: 16px;
  padding-left: 0;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li::marker {
  color: white;
}
.footer--wrapper .copyright {
  text-align: center;
  font-size: 1rem;
  color: white;
}
@media (max-width: 1399.98px) {
  .footer--wrapper .footer__inner {
    display: block;
  }
  .footer--wrapper .app-wraapper {
    margin-bottom: 3rem;
  }
  .footer--wrapper .logo {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1199.98px) {
  .footer--wrapper .menu-wrapper ul .list-menu:last-child {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .footer--wrapper .menu-wrapper ul {
    display: block;
  }
  .footer--wrapper .menu-wrapper ul .list-menu {
    width: max-content;
    margin-bottom: 1.5rem;
  }
  .footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper {
    padding-left: 25px;
  }
}

.text-main {
  font-size: 2.625rem;
  line-height: 3.25rem;
  color: #003e51;
}
@media (max-width: 767.98px) {
  .text-main {
    font-size: 2rem;
    line-height: 2.875rem;
  }
}

.text-desc {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
@media (max-width: 1199.98px) {
  .text-desc {
    line-height: 2.25rem;
  }
}
@media (max-width: 767.98px) {
  .text-desc {
    font-size: 1.375rem;
    line-height: 2rem;
  }
}

.title-info {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #003e51;
}
@media (max-width: 767.98px) {
  .title-info {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
}

.section {
  margin-bottom: 7rem;
  padding: 60px 0 140px;
}
.section .title--section {
  font-size: 2.625rem;
  line-height: 3.25rem;
  color: #003e51;
}
.section--texthighlight {
  text-align: center;
  padding: 0;
  margin-bottom: 5rem;
}
.section--contentinfo {
  padding: 0;
  margin-bottom: 5rem;
}
.section--contentinfo .item {
  margin-bottom: 5rem;
}
.section--contentinfo .item .text .title-info {
  margin-bottom: 0;
}
.section--contentinfo .item .text .sub-info {
  font-size: 32px;
  color: #007fa4;
  margin-bottom: 2rem;
}
.section--contentinfo .item .text .desc-info {
  color: #000;
}
.section--contentinfo .item .text__left {
  padding-right: 30px;
}
.section--contentinfo .item .text__right {
  padding-left: 30px;
}
.section--contentinfo .item .image img {
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
}
.section--partner {
  padding: 0;
  margin-bottom: 5rem;
}
.section--content {
  margin-top: 140px;
  margin-bottom: 0;
}
.section--content .title-info {
  color: #000;
}
.section--product {
  margin-top: 140px;
  margin-bottom: 0;
}
.section--contact {
  margin-top: 140px;
  margin-bottom: 0;
}
.section--contact .map--wrapper {
  position: relative;
  margin-bottom: 3rem;
}
.section--contact .map--wrapper iframe {
  width: 100%;
  height: 500px;
}
.section--contact .map--wrapper .text-hightlight {
  position: absolute;
  bottom: 30px;
  background: rgba(0, 62, 81, 0.8);
  padding: 15px 20px;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.section--contact .map--wrapper .text-hightlight .title {
  font-size: 2rem;
  color: white;
}
.section--contact .map--wrapper .text-hightlight .address {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: 300;
  color: white;
  margin-bottom: 0;
}
.section--contact .group--contact .group--item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.section--contact .group--contact .group--item .icons {
  margin-right: 1rem;
}
.section--contact .group--contact .group--item .icons i {
  display: flex;
  font-size: 1.5rem;
}
.section--contact .group--contact .group--item .text {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.section--contact .group--contact .group--item .text label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #003e51;
}
.section--contact .group--contact .title {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 400;
}
.section--contact .group--contact .list-contact {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 0.22fr);
  grid-gap: 10px;
}
.section--contact .group--contact .list-contact li {
  list-style: none;
}
.section--contact .group--contact .list-contact li .link-tel {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: white;
  border: 1px solid #003e51;
  border-radius: 10px;
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 600;
  color: #003e51;
  text-decoration: none;
}
.section--contact .group--contact .list-contact li .link-tel i {
  margin-right: 15px;
  font-size: 20px;
}
.section--contact .group--contact .list-contact li .link-tel:hover {
  background-color: #003e51;
  color: white;
}
.section--contact .group--contact .list-contact li .link-tel:hover i {
  color: white;
}
@media (max-width: 1399.98px) {
  .section--contact .group--contact .list-contact {
    grid-template-columns: none;
    display: flex;
    flex-wrap: wrap;
  }
  .section--contact .group--contact .list-contact li {
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }
}
@media (max-width: 767.98px) {
  .section {
    margin-bottom: 3rem;
  }
  .section .title--section {
    font-size: 2rem;
    line-height: 2.875rem;
  }
  .section--content {
    margin-top: 95px;
  }
  .section--product {
    margin-top: 95px;
  }
  .section--contact {
    margin-top: 95px;
    padding-bottom: 0;
  }
  .section--contact .map--wrapper .text-hightlight {
    position: relative;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    margin-top: 1.5rem;
    background-color: inherit;
  }
  .section--contact .map--wrapper .text-hightlight .title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #003e51;
    font-weight: 600;
  }
  .section--contact .map--wrapper .text-hightlight .address {
    color: #000;
  }
  .section--contact .group--contact .list-contact li .link-tel {
    font-size: 20px;
    width: 100%;
  }
  .section--contentinfo .item {
    margin-bottom: 4rem;
  }
  .section--contentinfo .item .text .sub-info {
    font-size: 28px;
    margin-bottom: 1rem;
  }
  .section--contentinfo .item .text__left {
    padding-right: 0;
  }
  .section--contentinfo .item .text__right {
    padding-left: 0;
  }
  .section--contentinfo .item .image {
    margin-bottom: 2rem;
  }
  .section--video .item-clip {
    margin-bottom: 3rem;
  }
}
@media (max-width: 575.98px) {
  .section--contact .group--contact .list-contact {
    grid-template-columns: repeat(1, 1fr);
  }
  .section--contact .group--contact .list-contact li {
    margin-bottom: 10px;
  }
  .section--contact .group--contact .list-contact li .link-tel {
    min-width: 240px;
    width: max-content;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.backdrop.show {
  opacity: 1;
  visibility: visible;
}
.backdrop.hide {
  opacity: 0;
  visibility: hidden;
}

.certificate--wrapper {
  margin: 6rem 0 0;
}
.certificate--wrapper .text-main {
  font-size: 3.5rem;
}
.certificate--wrapper .gallery--certificate {
  margin: 3rem 0 0;
}
.certificate--wrapper .gallery--certificate ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.certificate--wrapper .gallery--certificate ul li {
  list-style: none;
  width: 150px;
  margin-right: 40px;
  border-radius: 15px;
  overflow: hidden;
}
.certificate--wrapper .gallery--certificate ul li img {
  width: 100%;
  max-width: 100%;
}
.certificate--wrapper .gallery--certificate ul li:last-child {
  margin-right: 0;
}
@media (max-width: 767.98px) {
  .certificate--wrapper {
    margin-top: 3rem;
  }
  .certificate--wrapper .text-main {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 575.98px) {
  .certificate--wrapper .gallery--certificate ul li {
    margin-right: 20px;
  }
}

.gototop {
  display: none;
  position: fixed;
  z-index: 9;
  bottom: 100px;
  right: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #007fa4;
  color: white;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.gototop i {
  font-size: 28px;
  display: flex;
}

.chat--wrapper {
  position: fixed;
  z-index: 9;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat--wrapper .listChat--line a {
  text-decoration: none;
}
.chat--wrapper .listChat--line i {
  display: flex;
  font-size: 3rem;
  color: #06c755;
}

.modal-custom .modal-dialog .modal-content {
  position: relative;
}
.modal-custom .modal-dialog .modal-content .modal-header {
  width: 40px;
  height: 40px;
  background-color: #003e51;
  border-bottom: 0;
  position: absolute;
  top: -50px;
  padding: 0;
  right: 0;
  border-radius: 10px;
  cursor: pointer;
}
.modal-custom .modal-dialog .modal-content .modal-header i {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}
.modal-custom .modal-dialog .modal-content .modal-body .image-banner img {
  width: 100%;
}

.tab--wrapper .nav-tabs {
  border: none;
  max-width: 650px;
  margin: auto;
  border: 1px solid #003e51;
  border-radius: 20px;
  position: relative;
}
.tab--wrapper .nav-tabs .nav-link {
  width: 50%;
  color: #003e51;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 2rem;
  overflow: hidden;
  border-radius: 20px;
  border: none;
  padding: 0.75rem 1rem;
}
.tab--wrapper .nav-tabs .nav-link.active {
  background-color: inherit;
  border-radius: 20px;
  border: 0;
  color: white;
  overflow: hidden;
}
.tab--wrapper .nav-tabs .nav-link:hover {
  border-color: inherit;
}
.tab--wrapper .nav-tabs .glider {
  background-color: #003e51;
  border-radius: 20px;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.tab--wrapper .nav-tabs .glider.tab_online {
  left: 0;
}
.tab--wrapper .nav-tabs .glider.tab_ai {
  left: 50%;
}

.tab-content {
  padding-top: 5rem;
}

.boxform--wrapper {
  padding: 2rem;
  border-radius: 30px;
}
.boxform--wrapper p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
.boxform--wrapper .form--wrapper .form-group {
  margin-bottom: 2rem;
}
.boxform--wrapper .form--wrapper .title-form {
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.boxform--wrapper .form--wrapper .form-control {
  height: 60px;
  resize: none;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #000;
}
.boxform--wrapper .form--wrapper .form-control:focus {
  box-shadow: none;
}
.boxform--wrapper .form--wrapper .form-select {
  height: 60px;
  border-radius: 10px;
  border: 1px solid #000;
}
.boxform--wrapper .form--wrapper .form-select:focus {
  box-shadow: none;
}
.boxform--wrapper .form--wrapper .form-textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #000;
}
.boxform--wrapper .form--wrapper .form-textarea:focus {
  box-shadow: none;
  border: 1px solid #000;
  outline: 0;
}

.card {
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.card .card--item {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}
.card .card--item .card-image {
  width: 100%;
  position: relative;
}
.card .card--item .card-image img {
  width: 100%;
  max-width: 100%;
}
.card .card--item .card-image .icon-certifiticate {
  position: absolute;
  top: 20px;
  right: 20px;
}
.card .card--item .card-body {
  padding: 1.5rem 1.5rem;
  position: relative;
}
.card .card--item .card-body .name-body {
  margin-bottom: 2rem;
}
.card .card--item .card-body .name-body .name__en {
  font-size: 1.375rem;
  line-height: 2rem;
}
.card .card--item .card-body .name-body .name__th {
  font-size: 1.25rem;
  line-height: 1.625rem;
}
.card .card--item .card-body .desc {
  font-size: 20px;
}
.card .card--item .card--back {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
}
.card .card--item .card--back.show {
  top: 0;
}
.card .card--item .card--back .card-body {
  height: 100%;
}
.card .card--item .card--back .card-body .content-body {
  max-height: 80%;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 20px;
}
.card .card--item .card--back .card-body .content-body::-webkit-scrollbar {
  width: 8px;
}
.card .card--item .card--back .card-body .content-body::webkit-scrollbar-track {
  background: #00ff21;
}
.card .card--item .card--back .card-body .content-body::-webkit-scrollbar-thumb {
  background-color: #003e51;
  border-radius: 6px;
}
.card .card--item .card--back .card-body .name-body {
  margin-bottom: 1rem;
}
.card .card--item .card--back .card-body .desc-body {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 300;
}
.card .card--item .card--back .card-body .btn {
  position: absolute;
  bottom: 30px;
}
@media (max-width: 1199.98px) {
  .card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767.98px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  width: max-content;
  min-width: 170px;
  border-radius: 10px;
}
.btn--outline {
  background-color: white;
  border: 1px solid #003e51;
}
.btn .text {
  font-size: 18px;
}
.btn .icon i {
  font-size: 26px;
  display: flex;
}
.btn--primary {
  background-color: #003e51;
  color: white;
  height: 60px;
}
.btn--primary:hover {
  background-color: #007fa4;
  color: white;
}

.banner-wrapper {
  padding-top: 140px;
  margin-bottom: 5rem;
}
.banner-wrapper .slide--banner .slide-item img {
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: cover;
  object-position: center;
}
.banner-wrapper .slide--banner .slide-item video {
  width: 100%;
  height: calc(100vh - 150px);
}
.banner-wrapper .slide--banner .slick-dots {
  bottom: 30px;
  text-align: left;
  left: 0;
  display: flex;
  padding-left: 50px;
}
.banner-wrapper .slide--banner .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.banner-wrapper .slide--banner .slick-dots li button {
  background-color: #007fa4;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.banner-wrapper .slide--banner .slick-dots li button:before {
  content: "";
}
.banner-wrapper .slide--banner .slick-dots li.slick-active button {
  width: 30px;
  border-radius: 15px;
  background-color: #003e51;
}
@media (max-width: 1199.98px) {
  .banner-wrapper .slide--banner .slide-item img {
    height: 350px;
  }
  .banner-wrapper .slide--banner .slide-item video {
    height: 350px;
  }
}
@media (max-width: 767.98px) {
  .banner-wrapper {
    margin-bottom: 3rem;
    padding-top: 95px;
  }
}

.logoCustomer--wrapper .slide--partner {
  margin-bottom: 2rem;
}
.logoCustomer--wrapper .slide--partner ul {
  margin: 0;
  padding: 0;
}
.logoCustomer--wrapper .slide--partner ul li {
  list-style: none;
  height: 112px;
}
.logoCustomer--wrapper .slide--partner ul li img {
  width: auto;
  max-width: 100%;
  height: 100%;
}
.logoCustomer--wrapper .scroller {
  max-width: 1140px;
  overflow: hidden;
  outline: 3px solid lime;
}
.logoCustomer--wrapper .scroller__inner {
  padding-block: 1rem;
  display: flex;
  gap: 2rem;
}
.logoCustomer--wrapper .scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}
.logoCustomer--wrapper .scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}
.logoCustomer--wrapper .scroller[data-direction=right] {
  --_animation-direction: reverse;
}
.logoCustomer--wrapper .scroller[data-direction=left] {
  --_animation-direction: forwards;
}
.logoCustomer--wrapper .scroller[data-speed=fast] {
  --_animation-duration: 20s;
}
.logoCustomer--wrapper .scroller[data-speed=slow] {
  --_animation-duration: 60s;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

* {
  transition: all 0.35s ease-out;
}

body {
  overflow-x: hidden;
}
