@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-wrapper">
    <div class="slide--banner">
        <div class="slide-item">
            <img src="~/images/banner/banner-1.jpg" />
        </div>
        <div class="slide-item">
            <img src="~/images/banner/banner-2.jpg" />
        </div>
    </div>

</div>

<div class="section section--texthighlight">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-main fw-semibold mb-4">มาเป็นผู้นำด้าน Logistic กับเรา</h2>
                <h4 class="text-desc fw-light">
                    <label class="fw-semibold">บริษัท วันเดอ มาติกส์ จำกัด</label> มีระบบ GPS ที่มีความแม่นยำสูง เพื่อตอบสนองต่อความต้องการด้าน Logistic อย่างเต็มรูปแบบ ซึ่งทำให้ได้รับการยอมรับจากผู้ใช้บริการว่า มีบริการที่ดีเยี่ยมและได้มาตราฐาน
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="section section--contentinfo">
    <div class="container">

        <div class="row align-items-center item">
            <div class="col-12 col-md-8">
                <div class="text text__left">
                    <div class="title-info fw-semibold">WONDER MATICS</div>
                    <div class="sub-info fw-regular">System</div>
                    <div class="desc-info fw-light">
                        เป็นระบบที่ออกแบบให้สามารถตอบสนองความต้องการของผู้ให้บริการด้าน Logistics และเจ้าของยานพาหนะอย่างครบครันเพื่อการบริหารจัดการระบบการขนส่ง อย่างมีประสิทธิภาพ ด้วยนวัตกรรมล้ำสมัย ที่ผสมผสานแนวคิดการระบุพิกัดผ่านดาวเทียม GPS
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="image">
                    <img src="~/images/img-demo.png" alt=""/>
                </div>
            </div>
        </div>

        <div class="row align-items-center item">
            <div class="col-12 col-md-4">
                <div class="image">
                    <img src="~/images/img-demo.png" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="text text__right">
                    <div class="title-info fw-semibold">รับรองจากกรมขนส่งทางบก</div>
                    <div class="sub-info fw-regular">News</div>
                    <div class="desc-info fw-light">
                        บริษัท วันเดอ มาติกส์ จำกัด ได้รับการรับรองจากกรมขนส่งทางบกเพื่อใช้ในการติดตั้งรถบรรทุกวัตถุอันตราย รถบรรทุกวัตถุอันตรายทุกคันต้องติดตั้งกล่อง GPS ภายในสินปีนี้
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center item">
            <div class="col-12 col-md-8">
                <div class="text text__left">
                    <div class="title-info fw-semibold">ผลิตภัณฑ์ใหม่</div>
                    <div class="sub-info fw-regular">New Products</div>
                    <div class="desc-info fw-light">
                        กล่อง DVR Camera Box อุปกรณ์บันทึกภาพขณะขับขี่ยานพาหนะ ทำให้สามารถตรวจสอบพฤติกรรมการขับขี่ ตรวจสอบความปลอกภัยของยานหาพนะได้
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="image">
                    <img src="~/images/img-demo.png" alt="" />
                </div>
            </div>
        </div>

        <div class="row align-items-center item">
            <div class="col-12 col-md-4">
                <div class="image">
                    <img src="~/images/img-demo.png" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="text text__right">
                    <div class="title-info fw-semibold">ระบบบันทึกการซ่อมบำรุง</div>
                    <div class="sub-info fw-regular">Maintenance System</div>
                    <div class="desc-info fw-light">
                        บริษัท วันเดอ มาติกส์ จำกัด ได้รับการรับรองจากกรมขนส่งทางบกเพื่อใช้ในการติดตั้งรถบรรทุกวัตถุอันตราย รถบรรทุกวัตถุอันตรายทุกคันต้องติดตั้งกล่อง GPS ภายในสินปีนี้
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section section--video">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-info fw-semibold mb-4">เสียงตอบรับจากลูกค้า</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="item-clip">
                    <video class="media-clip" controls="controls">
                        <source src="~/clip/clipdemo.mp4" type="video/mp4" />
                    </video>
                    <p class="text fw-regular">บริษัท ทรูลิชซิ่ง จำกัด</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item-clip">
                    <video class="media-clip" controls="controls">
                        <source src="~/clip/clipdemo-2.mp4" type="video/mp4" />
                    </video>
                    <p class="text fw-regular">บริษัท เจริญโภคภัณฑ์อาหาร จำกัด</p>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/vendor/slick/slick.min.js"></script>
    <link href="~/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/vendor/slick/slick-theme.css" rel="stylesheet" />
    <script src="~/js/slick.js"></script>
}