@{
    ViewData["Title"] = "Home Page";
}

<div class="banner-wrapper">
    <div class="slide--banner">
        <div class="slide-item">
            <img src="~/images/banner/banner-1.jpg" />
        </div>
        <div class="slide-item">
            <img src="~/images/banner/banner-2.jpg" />
        </div>
        @* <div class="slide-item">
            <video controls="controls">
                <source src="~/clip/video-demo-banner.mp4" type="video/mp4" />
            </video>
        </div> *@
    </div>

</div>

<div class="section section--texthighlight">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-main fw-semibold mb-4">มาเป็นผู้นำด้าน Logistic กับเรา</h2>
                <h4 class="text-desc fw-light">
                    <label class="fw-semibold">บริษัท วันเดอ มาติกส์ จำกัด</label> มีระบบ GPS ที่มีความแม่นยำสูง เพื่อตอบสนองต่อความต้องการด้าน Logistic อย่างเต็มรูปแบบ ซึ่งทำให้ได้รับการยอมรับจากผู้ใช้บริการว่า มีบริการที่ดีเยี่ยมและได้มาตราฐาน
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="section section--contentinfo">
    <div class="container">

        <div class="row align-items-center item">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="text text__left">
                    <h1 class="title-info fw-semibold">WONDER MATICS</h1>
                    <div class="sub-info fw-regular">System</div>
                    <div class="text-desc fw-light">
                        เป็นระบบที่ออกแบบให้สามารถตอบสนองความต้องการของผู้ให้บริการด้าน Logistics และเจ้าของยานพาหนะอย่างครบครันเพื่อการบริหารจัดการระบบการขนส่ง อย่างมีประสิทธิภาพ ด้วยนวัตกรรมล้ำสมัย ที่ผสมผสานแนวคิดการระบุพิกัดผ่านดาวเทียม GPS
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 order-first order-md-last">
                <div class="image">
                    <img src="~/images/img-demo.png" alt=""/>
                </div>
            </div>
        </div>

        <div class="row align-items-center item">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="image">
                    <img src="~/images/img-demo.png" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="text text__right">
                    <div class="title-info fw-semibold">รับรองจากกรมขนส่งทางบก</div>
                    <div class="sub-info fw-regular">Certificate</div>
                    <div class="text-desc fw-light">
                        <b>บริษัท วันเดอ มาติกส์ จำกัด</b> ได้รับการรับรองจากกรมขนส่งทางบกเพื่อใช้ในการติดตั้งและใช้ได้สำหรับรถที่ใช้ในการขนส่งทุกประเภทและลักษณะของรถที่
                        จดทะเบียนตามกฎหมายว่าด้วยการขนส่งทางบก
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center item">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="text text__left">
                    <div class="title-info fw-semibold">ผลิตภัณฑ์</div>
                    <div class="sub-info fw-regular">Products</div>
                    <div class="text-desc fw-light">
                        กล่อง DVR Camera Box อุปกรณ์บันทึกภาพขณะขับขี่ยานพาหนะ ทำให้สามารถตรวจสอบพฤติกรรมการขับขี่ ตรวจสอบความปลอกภัยของยานหาพนะได้
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 order-first order-md-last">
                <div class="image">
                    <img src="~/images/img-demo.png" alt="" />
                </div>
            </div>
        </div>

       @*  <div class="row align-items-center item">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="image">
                    <img src="~/images/img-demo.png" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="text text__right">
                    <div class="title-info fw-semibold">ระบบบันทึกการซ่อมบำรุง</div>
                    <div class="sub-info fw-regular">Maintenance System</div>
                    <div class="desc-info fw-light">
                        บริษัท วันเดอ มาติกส์ จำกัด ได้รับการรับรองจากกรมขนส่งทางบกเพื่อใช้ในการติดตั้งรถบรรทุกวัตถุอันตราย รถบรรทุกวัตถุอันตรายทุกคันต้องติดตั้งกล่อง GPS ภายในสินปีนี้
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>


<div class="section section--partner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-info fw-semibold mb-4">ลูกค้าของเรา</div>
            </div>
        </div>

        <div class="logoCustomer--wrapper">
            <div class="slide--partner scroller" data-direction="right" data-speed="fast">
                <ul class="image-list scroller__inner">
                    <li>
                        <img src="~/images/partner/ico-logo-trueleasing.jpg" alt="trueleasing" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-ww.jpg" alt="Wire & Wireless" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-true-properties.jpg" alt="True Properties" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-chiatai.jpg" alt="CHIA TAI" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-lotuss.jpg" alt="lotus" />
                    </li>
                </ul>
            </div>
            <div class="slide--partner scroller" data-speed="fast">
                <ul class="image-list scroller__inner">
                    <li>
                        <img src="~/images/partner/ico-logo-cpf.jpg" alt="CPF" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-makro.png" alt="Makro" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-cpg.png" alt="CPG" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-cpland.jpg" alt="cp land" />
                    </li>
                    <li>
                        <img src="~/images/partner/ico-logo-egat.png" alt="การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย" />
                    </li>
                </ul>
            </div>
        </div>




        @* <div class="row">
            <div class="col-md-6">
                <div class="item-clip">
                    <video class="media-clip" controls="controls">
                        <source src="~/clip/clipdemo.mp4" type="video/mp4" />
                    </video>
                    <p class="text fw-regular">บริษัท ทรูลิชซิ่ง จำกัด</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="item-clip">
                    <video class="media-clip" controls="controls">
                        <source src="~/clip/clipdemo-2.mp4" type="video/mp4" />
                    </video>
                    <p class="text fw-regular">บริษัท เจริญโภคภัณฑ์อาหาร จำกัด</p>
                </div>
            </div>
        </div> *@
    </div>
</div>



<!-- Modal -->
<div class="modal fade modal-custom" id="noti_Modal" tabindex="-1" aria-labelledby="noti_ModaLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" data-bs-dismiss="modal" aria-label="Close">

                <i class="bi bi-x"></i>
            </div>
            <div class="modal-body">
                <div class="image-banner">
                    <img src="~/images/banner/banner-demo-maintenace.jpg" alt="banner" />
                </div>
            </div>

            <div class="modal-chk">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="CheckModal">
                    <label class="form-check-label" for="CheckModal">
                        ไม่แสดงอีกในวันนี้
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    <script src="~/vendor/slick/slick.min.js"></script>
    <link href="~/vendor/slick/slick.css" rel="stylesheet" />
    <link href="~/vendor/slick/slick-theme.css" rel="stylesheet" />
    <script src="~/js/slick.js"></script>

}