@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap");
* {
  font-family: "Prompt", sans-serif;
  font-style: normal;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.header--wrapper {
  background-color: #003e51;
  width: 100%;
  height: 140px;
  top: 0;
  left: 0;
  z-index: 1028;
  position: fixed;
}
.header--wrapper .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header--wrapper .logo {
  max-width: 250px;
}
.header--wrapper .logo a {
  display: block;
}
.header--wrapper .logo a img {
  max-width: 100%;
}
.header--wrapper .menu-wrapper ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header--wrapper .menu-wrapper ul .list-menu {
  margin-right: 15px;
}
.header--wrapper .menu-wrapper ul .list-menu a {
  padding: 0.5rem 1rem;
  font-size: 24px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}
.header--wrapper .menu-wrapper ul .list-menu a:hover {
  text-decoration: underline;
}
.header--wrapper .menu-wrapper ul .list-menu:last-child {
  margin-right: 0;
}
.header--wrapper .menu-wrapper ul .list-menu .submenu--wrapper {
  height: 120px;
  padding: 20px 45px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  background-color: rgba(0, 62, 81, 0.8);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.header--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.header--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li {
  width: 25%;
}
.header--wrapper .menu-wrapper ul .list-menu .submenu--wrapper .icon-close {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
}
.header--wrapper .menu-wrapper ul .list-menu .submenu--wrapper .icon-close i {
  color: white;
  font-size: 30px;
}
.header--wrapper .menu-wrapper ul .list-menu .submenu--wrapper.active {
  top: 140px;
  opacity: 1;
  visibility: visible;
}
.header--wrapper.sticky {
  height: 95px;
}
.header--wrapper.sticky .logo {
  max-width: 170px;
}
.header--wrapper.sticky .menu-wrapper ul li a {
  font-size: 20px;
}
.header--wrapper.sticky .menu-wrapper ul li .submenu--wrapper {
  height: 100px;
}
.header--wrapper.sticky .menu-wrapper ul li .submenu--wrapper.active {
  top: 95px;
}

.footer--wrapper {
  background-color: #003e51;
  padding: 20px 0;
}
.footer--wrapper__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1028;
  width: 100%;
  padding: 20px;
}
.footer--wrapper .logo {
  max-width: 250px;
}
.footer--wrapper .logo a {
  display: block;
}
.footer--wrapper .logo a img {
  max-width: 100%;
}
.footer--wrapper .menu-wrapper ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer--wrapper .menu-wrapper ul .list-menu {
  width: 180px;
  margin-right: 15px;
}
.footer--wrapper .menu-wrapper ul .list-menu a {
  padding: 0.5rem 1rem;
  font-size: 20px;
  line-height: 20px;
  color: white;
  text-decoration: none;
}
.footer--wrapper .menu-wrapper ul .list-menu a:hover {
  text-decoration: underline;
}
.footer--wrapper .menu-wrapper ul .list-menu:last-child {
  margin-right: 0;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper {
  padding-top: 20px;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul {
  flex-direction: column;
  list-style: disc;
  padding-left: 35px;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li {
  margin-bottom: 10px;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li a {
  font-size: 16px;
  padding-left: 0;
}
.footer--wrapper .menu-wrapper ul .list-menu .submenu--wrapper ul li::marker {
  color: white;
}
.footer--wrapper .copyright {
  text-align: center;
  font-size: 18px;
  color: white;
}

.text-main {
  font-size: 56px;
  line-height: 72px;
  color: #003e51;
}

.text-desc {
  font-size: 28px;
  line-height: 42px;
}

.title-info {
  font-size: 40px;
  color: #003e51;
}

.section {
  margin-bottom: 7rem;
}
.section--texthighlight {
  text-align: center;
}
.section--contentinfo .item {
  margin-bottom: 5rem;
}
.section--contentinfo .item .text .sub-info {
  font-size: 32px;
  color: #007fa4;
  margin-bottom: 2rem;
}
.section--contentinfo .item .text .desc-info {
  font-size: 24px;
  color: #000;
}
.section--contentinfo .item .text__left {
  padding-right: 30px;
}
.section--contentinfo .item .text__right {
  padding-left: 30px;
}
.section--contentinfo .item .image img {
  border-radius: 30px;
  width: 100%;
  max-width: 100%;
}
.section--video .item-clip .media-clip {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 30px;
}
.section--video .item-clip .text {
  font-size: 24px;
  line-height: 32px;
}
.section--content {
  margin-top: 140px;
  margin-bottom: 0;
  padding: 140px 0;
}
.section--content .title--section {
  font-size: 64px;
  color: #003e51;
}
.section--content .title-info {
  color: #000;
}
.section--product {
  margin-top: 140px;
  margin-bottom: 0;
  padding: 140px 0;
}
.section--product .title--section {
  font-size: 64px;
  color: #003e51;
}

.card {
  border: none;
}
.card--widget {
  border-radius: 30px;
  overflow: hidden;
}
.card--widget .card-image {
  width: 100%;
}
.card--widget .card-image img {
  width: 100%;
  max-width: 100%;
}
.card--widget .card-body {
  padding: 1.5rem 1.5rem;
}
.card--widget .card-body .name-body {
  margin-bottom: 2rem;
}
.card--widget .card-body .name-body .name__en {
  font-size: 24px;
}
.card--widget .card-body .name-body .name__th {
  font-size: 20px;
}
.card--widget .card-body .desc {
  font-size: 20px;
}
.card--widget .card--back {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  width: max-content;
  min-width: 170px;
  border-radius: 10px;
}
.btn--outline {
  background-color: white;
  border: 1px solid #003e51;
}
.btn .text {
  font-size: 16px;
}
.btn .icon i {
  font-size: 22px;
}

.banner-wrapper {
  margin-bottom: 7rem;
}
.banner-wrapper .slide--banner .slide-item img {
  width: 100%;
  height: calc(100vh - 150px);
  object-fit: cover;
  object-position: center;
}
.banner-wrapper .slide--banner .slick-dots {
  bottom: 30px;
  text-align: left;
  left: 55px;
  display: flex;
}
.banner-wrapper .slide--banner .slick-dots li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}
.banner-wrapper .slide--banner .slick-dots li button {
  background-color: #007fa4;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.banner-wrapper .slide--banner .slick-dots li button:before {
  content: "";
}
.banner-wrapper .slide--banner .slick-dots li.slick-active button {
  width: 30px;
  border-radius: 15px;
  background-color: #003e51;
}

* {
  transition: all 0.35s ease-out;
}

body {
  overflow-x: hidden;
}
